<ion-content padding class="animated fadeInDown background-default">
  <div padding class="login-content">
    <ion-card>
      <ion-card-header class="card-border-b">
          <img src="assets/imgs/logo-redbee.PNG">
      </ion-card-header>

      <ion-card-content> 
        <!-- Login form -->
        <form [formGroup]="onLoginForm" class="list-form">
          <ion-list inset>
            <ion-item>
              <ion-label floating>
                <ion-icon name="person" item-start></ion-icon>
                Usuario
              </ion-label>
              <ion-input type="text" formControlName="userName" [(ngModel)]="userName"></ion-input>
            </ion-item>
            <p ion-text color="danger" class="text-1x has-error" *ngIf="onLoginForm.get('userName').touched && onLoginForm.get('userName').hasError('required')">Este campo es requerido</p>

            <ion-item>
              <ion-label floating>
                <ion-icon name="lock" item-start></ion-icon>
                Contraseña
              </ion-label>
              <ion-input type="password" formControlName="password" [(ngModel)]="password"></ion-input>
            </ion-item>
            <p ion-text color="danger" class="text-1x has-error" *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">Este campo es requerido</p>
          </ion-list>

          <div padding>
            <button ion-button icon-start block class="round" color="danger" tappable (click)="login()" [disabled]="!onLoginForm.valid">
              <ion-icon name="log-in"></ion-icon>
              Ingresar
            </button>

            <button ion-button icon-start block class="round" color="primary" tappable (click)="newUser()">
                <ion-icon name="md-add"></ion-icon>
                Nuevo usuario
              </button>
          </div>
        </form>
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>