<ion-header>
    <ion-navbar color="danger">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <span ion-text>Crear Board</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="common-bg">
    <form-board #form></form-board>

    <button ion-button large full color="primary" (click)="create()">Crear</button>
</ion-content>