page-home {
    .list{
        display: inline-table;
        margin-top: 5px;
        margin-bottom: 0px;
    }

    .board-settings {
        background-color: aliceblue;
    }
    
    .tweet {
        font-size: 13px;
        margin-top: 10px;

        p {
            font-size: 13px;
        }
    }

    .tweet-new {
        background-color: chartreuse;
        padding: 4px;
    }

    .refresh {
        background-color: #2c912c;

        h1 {
            color: white;
        }
    }
}