<ion-header class="animated fadeIn no-shadow">  
    <ion-navbar class="no-border" color="danger">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        Social Media Aggregator
      </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="animated background-default"> 
   <ion-card class="refresh" (click)="getTweets()" text-center padding>
       <h1>Refrescar <i class="fa fa-refresh"></i></h1>
   </ion-card>

  <ion-card *ngFor="let board of boards">
    <div class="border-bottom board-settings" text-center padding>
      
      <i class="fa fa-pencil fa-2x" style="float: right" (click)="updateBoard(board)"></i>
      <h1>{{ board.title }}</h1>
    </div>
    <div class="border-bottom" text-center padding>
      <ion-row>
          <ion-col col-6>
              <span class="bold text text-md text-md-dark" color="dark">Intereses</span>
              <ul class="list">
                  <li *ngFor="let interest of board.interests">
                      <span color="primary" class="text text-md text-md-primary font-size-16">{{ interest }}</span>
                  </li>
              </ul>
          </ion-col>

          <ion-col col-6>
            <span class="bold text text-md text-md-dark" color="dark">Personas</span>
            <ul class="list">
                <li *ngFor="let people of board.peoples">
                    <span color="primary" class="text text-md text-md-primary font-size-16">{{ people }}</span>
                </li>
            </ul>
          </ion-col>
      </ion-row>
    </div>
    <div padding class="board-settings">
        <ul>
            <li class="tweet" *ngFor="let tweet of board.tweets">
                <span>{{ tweet.user }} <label *ngIf="tweet.new" class="tweet-new">Nuevo</label></span>
                <p> {{ tweet.text }}</p>
            </li>
        </ul>

    </div>
  </ion-card>   
</ion-content>
