$font-path: "../assets/fonts";

$app-direction: ltr;

@import "ionic.globals";

$fa-font-path: $font-path;
@import "font-awesome";


$text-color: rgba(4, 3, 4, 0.75);
$background-color: #fff;

$colors: (
  primary: #3d7c44,
  secondary: #52b155,
  danger: #f53d3d,
  light: rgb(255, 255, 255),
  dark: #000000,
);

@import "ionic.theme.default.md";

@import "ionic.ionicons";

@import "roboto";
@import "noto-sans";

$select-popover-list-margin-top: 0;
