// global styles
.primary-bg {
    background-color: color($colors, primary) !important;
}

.secondary-bg {
    background-color: color($colors, secondary) !important;
}

.common-bg {
    background-color: #FAFBFC;
}

.white-bg {
    background-color: #fff;
}

.detail-bg {
    background-color: #f1f1f5;
}

.light-bg {
    background-color: color($colors, light);
}

.dark-bg {
    background-color: color($colors, dark);
}

.green-bg {
    background-color: #68C91F;
}

.profile-bg {
    background-image: linear-gradient(135deg, #271b38, #3d7c4f, #52b362);
}

.error-bg {
    background-image: linear-gradient(135deg, #271b38, #7c3d43, #b3526f);
}

.warning-bg {
    background-image: linear-gradient(135deg, #271b38, #767c3d, #b3ad52);
} //
//
.text-primary {
    color: color($colors, primary);
}

.text-secondary {
    color: color($colors, secondary);
}

.text-green {
    color: #68C91F;
}

.text-red {
    color: rgb(194, 35, 35);
}

.text-yellow {
    color: #FDD835;
}

.text-white {
    color: #fff !important;
} //
.dark-trans,
.toast-md .toast-wrapper {
    background-color: rgba(0, 0, 0, .4);
} // Helpers

.padding-xs {
    padding: 10px;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clear {
    clear: both;
}

.align-bottom {
    position: absolute;
    bottom: 0;
}

.round {
    border-radius: 1rem;
    overflow: hidden;
}

.no-round {
    border-radius: 0;
}

.border-bottom {
    border-bottom: 1px solid rgba(86, 61, 124, 0.1);
}

.full-width {
    width: 100%;
}

.padding-sm {
    padding: 1rem;
}

.uppercase {
    text-transform: uppercase;
} 

.text-2x {
    font-size: 2em;
}

.text-1x {
    font-size: 1em;
}

.text-sm {
    font-size: 0.7em;
}

.bold {
    font-weight: bold !important;
} 

.has-error {
    margin: 0;
    padding: .75rem;
} 

.card {
    background: #FFF;
    border-radius: 1rem;
    box-shadow: 0 0 1px rgba(86, 61, 124, 0.2), 0 2px 4px rgba(86, 61, 124, 0.15);
} 

ion-navbar.no-border {
    .toolbar-background {
        border: none;
    }
} // list style

ion-icon[ng-reflect-disabled="true"] {
    color: #FAFBFC;
    pointer-events: none;
}

// remove shadow from header
.md {
    ion-header {
        &.no-shadow::after {
            background-image: none;
        }
    }
    ion-toolbar,
    ion-navbar {
        .button,
        .button.activated {
            box-shadow: none;
        }
    }
}


// Animate CSS
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animated.infinite {
    animation-iteration-count: infinite;
}

.animated.hinge {
    animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
    animation-duration: .75s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInDown {
    animation-name: fadeInDown;
} //// Responsive (Desktop)


.padding-bottom-xs {
    padding-bottom: 5px;
}

.background-default {
    background-image: linear-gradient(135deg, #140c09, #482615, #4f240d);
    &::after {
        content: "";
        background-size: cover;
        opacity: 0.1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 0;
    }
}