<ion-menu side="left" [content]="content">
  <ion-header>
    <ion-toolbar class="user-profile">
      <ion-fab top right>
        <button ion-fab mini color="dark" menuClose>
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-fab>
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col padding-left padding-right padding-bottom text-center col-auto>
            <h2 ion-text color="light" class="no-margin bold">
              Lucas
            </h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-content color="primary">
    <ion-list class="user-list">
      <button ion-item menuClose class="text-1x" *ngFor="let menuItem of appMenuItems" (click)="openPage(menuItem)">
        <ion-icon item-left [name]="menuItem.icon" color="primary"></ion-icon>
        <span ion-text color="primary">{{menuItem.title}}</span>
      </button>
      <button ion-item menuClose class="text-1x" (click)="logout()">
        <ion-icon item-left class="ion-md-log-out" color="primary"></ion-icon>
        <span ion-text color="primary">Salir</span>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>