<ion-header>
    <ion-navbar color="danger">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <span ion-text>Crear Usuario</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="common-bg">
    <form [formGroup]="onNewUserForm" class="list-form">
        <ion-card>
            <div padding>
                <ion-item>
                    <ion-label color="dark" stacked>Usuario</ion-label>
                    <ion-input type="text" [(ngModel)]="username" formControlName="userName"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label color="dark" stacked>Contraseña</ion-label>
                    <ion-input type="password" [(ngModel)]="password" formControlName="password"></ion-input>
                </ion-item>
            </div>
        </ion-card>

        <button ion-button large full color="primary" (click)="create()" [disabled]="!onNewUserForm.valid">Crear</button>
    </form>
</ion-content>