<ion-card>
    <div padding> 
      <ion-item>
          <ion-label color="dark" stacked>Descripción</ion-label>
          <ion-input type="text" [(ngModel)]="title"></ion-input>
      </ion-item>

      <ion-row>
          <ion-col col-8>
              <ion-item>
                  <ion-label color="dark" stacked>Intereses (#)</ion-label>
                  <ion-input type="text" [(ngModel)]="interest"></ion-input>
              </ion-item>
          </ion-col>
          <ion-col col-4>
              <ion-item>
                  <button ion-button color="primary" (click)="addInterest()" [disabled]="!interest || interest == ''">Agregar</button>
              </ion-item>
          </ion-col>
      </ion-row>

      <ion-row>
          <ion-col col-8>
              <ion-item>
                  <ion-label color="dark" stacked>Personas (@)</ion-label>
                  <ion-input type="text" [(ngModel)]="people"></ion-input>
              </ion-item>
          </ion-col>
          <ion-col col-4>
              <ion-item>
                  <button ion-button color="primary" (click)="addPeople()" [disabled]="!people || people == ''">Agregar</button>
              </ion-item>
          </ion-col>
      </ion-row>
    </div>
</ion-card>

<ion-card>
  <div padding>
      <span class="bold text text-md text-md-dark" color="dark" ion-text="">Intereses Seleccionados</span>
      <ul class="highlight">
          <li *ngFor="let item of interests; let i = index" class="m-b-10">
              <span color="primary" class="text text-md text-md-primary font-size-16">{{ item }}</span>
              <a (click)="removeInterest(i)" class="pull-right text-red"> <i class="fa fa-times fa-15x"></i> </a>
          </li>
      </ul>
  </div>
</ion-card>

<ion-card>
  <div padding>
      <span class="bold text text-md text-md-dark" color="dark" ion-text="">Personas Seleccionadas</span>
      <ul class="highlight">
          <li *ngFor="let item of peoples; let i = index" class="m-b-10">
              <span color="primary" class="text text-md text-md-primary font-size-16">{{ item }}</span>
              <a (click)="removePeople(i)" class="pull-right text-red"> <i class="fa fa-times fa-15x"></i> </a>
          </li>
      </ul>
  </div>
</ion-card>